<!DOCTYPE html>
<html>
<head>
    <title>PolyGo.Map</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <script src="JS/leaflet.js"></script>
    <link rel="stylesheet" href="CSS/leaflet.css" />

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        #map {
            width: 600px;
            height: 400px;
        }
    </style>

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        #map {
            height: 100%;
            width: 100vw;
        }
    </style>

</head>
<body>
    <div id='map'></div>

    <script type="text/javascript">

        var mbAttr = ' ';
        var mbUrl = 'Tiles/{z}/{x}/{y}.png';

        var map = L.map('map').setView([60.0074614, 30.3729735], 15);

        var southWest = L.latLng(59.9935, 30.3113);
        var northEast = L.latLng(60.0210, 30.4431);
        var bounds = L.latLngBounds(southWest, northEast);

        map.setMaxBounds(bounds);
        map.on('drag', function() {
            map.panInsideBounds(bounds, { animate: false });
        });

        L.tileLayer(mbUrl, { id: 'OSM', minZoom: 15, maxZoom: 17}).addTo(map);
        document.getElementsByClassName( 'leaflet-control-attribution' )[0].style.display = 'none';
        var markerGroup = new L.LayerGroup();
        map.addLayer(markerGroup);

        //Create new marker
        function newMarker(lat, lon, text) {
            var marker = L.marker([lat.toString(), lon.toString()]).bindPopup(text);
            markerGroup.addLayer(marker);
        }

        //Create line
        function newLine(latFrom, lonFrom, latTo, lonTo, color) {
            var From = new L.latlng(latFrom, lonFrom);
            var To = new L.latlng(latTo, lonTo);
            var FromTo = [From, To];
            var Line = new L.polyline(FromTo, { color: color, weight: 3, opacity: 0.5, smoothFactor: 1, noClip: false });
            markerGroup.addLayer(Line);
        }

        //Create circle
        function newCircle(lat, lon, color, fillColor, fillOpacity, radius) {
            var circle = L.circle([lat, lon], { color: color, fillColor: fillColor, fillOpacity: fillOpacity, radius: radius });
            markerGroup.addLayer(circle);
        }

        //Show markers on map
        function show() {
            markerGroup.addTo(map);
        }

        //Center the map
        function centerMap(lat, lon) {
            map.panTo(new L.LatLng(lat, lon));
        }

        //Remove markers
        function delMarker() {
            markerGroup.clearLayers().addTo(map);
        }

    </script>
</body>
</html>