<!DOCTYPE html>
<html>
<head>
    <title>PolyGo.Map</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <script src="JS/leaflet.js"></script>
    <link rel="stylesheet" href="CSS/leaflet.css" />

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        #map {
            width: 600px;
            height: 400px;
        }
    </style>

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        #map {
            height: 100%;
            width: 100vw;
        }
    </style>

</head>
<body>
    <div id='map'></div>

    <script type="text/javascript">

        var mbAttr = ' ';
        var mbUrl = 'Tiles/{z}/{x}/{y}.png';

        var map = L.map('map').setView([60.0074614, 30.3729735], 15);

        var southWest = L.latLng(59.9935, 30.3113);
        var northEast = L.latLng(60.0210, 30.4431);
        var bounds = L.latLngBounds(southWest, northEast);

        map.setMaxBounds(bounds);
        map.on('drag', function() {
            map.panInsideBounds(bounds, { animate: false });
        });

        L.tileLayer(mbUrl, { id: 'OSM', minZoom: 15, maxZoom: 17}).addTo(map);
        document.getElementsByClassName( 'leaflet-control-attribution' )[0].style.display = 'none';
        var markerGroup = new L.LayerGroup();
        map.addLayer(markerGroup);
        markerGroup.addTo(map);

        var mapIDtoBeOpen = 0;

        // Main building
        var mbLatLng = new L.LatLng(60.0073469194067, 30.3729136737511);
        var popupMb = L.popup();
        popupMb.setLatLng(mbLatLng)
            .setContent('<a href="index.html">Главное здание</a>');
        var markerMb = L.marker(mbLatLng);
        markerMb.bindPopup(popupMb).openPopup();
        markerGroup.addLayer(markerMb);

        map.on('popupopen', function (e) {
            var marker = e.popup._source;
            switch (marker.getLatLng())
            {
                case mbLatLng:
                    mapIDtoBeOpen = 1;
                    break;
                default:
                    mapIDtoBeOpen = 0;
                    break;
            }
        });

        function getMapIDtoBeOpen() {
            return mapIDtoBeOpen;
        }

    </script>
</body>
</html>